<html>

<body>
	<p>66666这都行</p>
	<ol>
	</ol>
	<hr>
	
	<form action="/login" method="get">
		<input type="submit" value="Back">
	</form>
	<% if (Message){ %>
	<div class="message">
	<%=Message%>
	</div>
	<% } %>
</body>

</html>
